*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma, sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#1b5e20,#2e7d32);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.4s;
}

/* أنيميشن دخول */
body{
    opacity:0;
    transform:translateY(20px);
}

body.page-loaded{
    opacity:1;
    transform:translateY(0);
}

.page{
    width:100%;
    max-width:1200px;
    padding:20px;
}

.center{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.main-title{
    font-size:48px;
    margin-bottom:40px;
}

.section-title{
    font-size:32px;
    margin-bottom:30px;
}

.grid{
    display:grid;
    gap:20px;
    width:100%;
}

.grid.big{
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
}

.grid button{
    padding:25px;
    font-size:22px;
    border:none;
    border-radius:15px;
    background:#43a047;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.grid button:hover{
    transform:scale(1.05);
    background:#66bb6a;
}

.tasbeeh-circle{
    width:300px;
    height:300px;
    border-radius:50%;
    background:radial-gradient(circle,#66bb6a,#1b5e20);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    margin:40px 0;
    transition:0.15s;
}

.tasbeeh-circle:active{
    transform:scale(0.9);
}

.counter-number{
    font-size:50px;
    font-weight:bold;
    background:white;
    color:#1b5e20;
    width:170px;
    height:170px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.controls{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    margin-top:30px; /* ينزلهم تحت */
}


.controls button,
.back-btn{
    padding:15px 30px;
    font-size:20px;
    border:none;
    border-radius:12px;
    cursor:pointer;
}

.controls button{
    background:#c62828;
    color:white;
}

.back-btn{
    background:#1565c0;
    color:white;
    margin-top:35px; /* ينزل أكتر تحت */
}


.back-btn:hover{
    background:#1e88e5;
}

/* موبايل */
@media(max-width:768px){
    .main-title{
        font-size:36px;
    }

    .section-title{
        font-size:26px;
    }

    .tasbeeh-circle{
        width:220px;
        height:220px;
    }

    .counter-number{
        width:130px;
        height:130px;
        font-size:36px;
    }

    .grid button{
        font-size:18px;
        padding:20px;
    }
}

